// page-login {
  .homePage{
       background-image: url(/assets/homepage.png);
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       height: 100%;
   }
   .button{
       position: relative;
       border-radius: 10px;
       // opacity: 0.8;
       // width: 80%;
       text-align: center;
       // background-color: white;
       top: 360px;
   }
   // .login-logo{
   //      // image: url(/assets/SEREIA.png);
   //      vertical-align: center;
   //      text-align: center;
   //  }
   //  .login-form{
   //      opacity: none!important;
   //  }
// }